@import url('http://fonts.googleapis.com/css?family=Dosis');


$button-color: #CDE3EC;
$menu-color: #D4D6D7;
$hover-menu-color: #FFF;
$little-title-color: #829CA8;

$font-family-default:  'Dosis', sans-serif;
$font-size-default: 17px;